extends layouts/main

block content
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__info
        a(href=routes.videoEdit(video.id)) 동영상 수정
        //- videoController에서 넘겨준 video의 id를 받아온다.
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description