extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            //- videoController에서 넘겨준 video의 id를 받아온다.
            .title-container
                h5.video__title=video.title
                span.video__views 조회수 #{video.views}회
            .video__function
                if loggedUser && video.creator.id === loggedUser.id
                    a.editButton(href=routes.videoEdit(video.id)) 수정
        .video__subInfo
            a(href=routes.userDetail(video.creator.id))
                if video.creator.avatarUrl
                    img.video__creator-avatar(src=`/${video.creator.avatarUrl}`)
                else
                    .noPhoto
                        i.fas.fa-user-astronaut
                span.video__creator-name=video.creator.name
            p.video__description=video.description
        .video__comments
            //- if video.comments.length === 1
            //-     span.video__comment-number 1 comment
            //- else
            .video__comment-number
                span 댓글
                span#jsCommentNumber=video.comments.length
                span 개
            form.add__comment#jsAddComment
                a(href=routes.userDetail(user.id))
                    if user.avatarUrl
                        img.video__creator-avatar(src=`/${user.avatarUrl}`)
                    else
                        .noPhoto
                            i.fas.fa-user-astronaut
                input(type="text", placeholder="댓글을 입력하세요")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        //- a(href=routes.userDetail(comment.creator))
                        //-     if comment.creator.avatarUrl
                        //-         img.comment__creator-avatar(src=`/${comment.creator.avatarUrl}`)
                        //-     else
                        //-         .noPhoto
                        //-             i.fas.fa-user-astronaut
                        div=comment.creator
                        div=comment.createdAt.toDateString()
                        span=comment.text